<div class="chat">
    {{{avatar}}}
    <div class="chat__content">
        <div class="chat__title">{{{title}}}</div>
        <div class="chat__preview">
            {{#if lastMessageMe}}<span class="chat__preview-me">Ğ’Ñ‹:
                </span>{{/if}}{{{preview}}}
        </div>
    </div>
    <div class="chat__info">
        <div class="chat__date">{{{date}}}</div>
        {{{unreadMessages}}}
    </div>
</div>
