<div class="input">
    {{#if input.label}}<label for="{{input.name}}" class="input__label">{{input.label}}</label>{{/if}}
    <input 
    class="input__input" 
    placeholder="{{input.placeholder}}"
    value="{{#if input.value}}{{input.value}}{{/if}}"
    name="{{input.name}}"
    type="{{input.type}}">
</div>
